@model IEnumerable<MarketSENA.Models.Plantilla>

@{
    Layout = "";
    ViewData["Title"] = "Ropa";
}

<link href="~/css/grapes.min.css" rel="stylesheet" />
<link href="~/lib/grapesjs-preset-webpage/dist/grapesjs-preset-webpage.min.css" rel="stylesheet" />
<script src="~/js/grapes.min.js"></script>
<script src="~/lib/grapesjs-preset-webpage/dist/grapesjs-preset-webpage.min.js"></script>
<style>
    body,
    html {
        height: 100%;
        margin: 0;
    }

    .gjs-one-bg {
        background-color: #2C3E50;
    }

    .gjs-two-color {
        color: rgba(255, 255, 255, 0.7);
    }

    .gjs-three-bg {
        background-color: #E5E7E9;
        color: white;
    }

    .gjs-four-color,
    .gjs-four-color-h:hover {
        color: #E5E7E9;
    }
</style>

<div id="gjs" style="height:0px; overflow:hidden">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


    <div class="fondo">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand text-white" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav w-100 d-flex justify-content-around">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Catálogo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <img src="~/img/Ropa/carro.png" class="img-fluid" alt="">
                    </li>
                </ul>
            </div>
        </nav>
        <div class="mover">
            <label for="" class="text-white justify-content-center" style="background: rgba(0, 0, 0, 0.4);"><b><h1>INICIO</h1></b></label><br>
            <label for="" class="text-white justify-content-center" style="background: rgba(0, 0, 0, 0.4);"><b><h1>Lorem ipsum</h1></b></label>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 quitar text-center d-flex justify-content-center mb-5">
                <label for="" class="" style="position: absolute; z-index: 1; background: transparent !important; top: 40px;">Carro de Compras</label>
                <hr style="position: relative; z-index: 0; border: 1px solid rgba(0, 0, 0, 1);" class="w-100">
                <i class="fas fa-circle" style="position: absolute;  top: 7px ;  font-size:24px;"></i>
            </div>
            <div class="col-md-4 quitar d-flex justify-content-center mb-5">
                <label for="" class="" style="position: absolute; z-index: 1; background: transparent !important; top: 40px;">Despacho</label>
                <hr style="position: relative; z-index: 0; border: 1px solid rgba(0, 0, 0, 1);" class="w-100">
                <i class="far fa-circle" style="position: absolute; z-index: 0; background: white;  top: 6px ; font-size:24px;"></i>
            </div>
            <div class="col-md-4 quitar d-flex justify-content-center mb-5">
                <label for="" class="" style="position: absolute; z-index: 1; background: transparent !important; top: 40px;">Pago Seguro</label>
                <hr style="position: relative; z-index: 0; border: 1px solid rgba(0, 0, 0, 1);" class="w-100">
                <i class="far fa-circle" style="position: absolute; z-index: 0; background: white;  top: 6px ; font-size:24px;"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="font-size: 30px;">
                <img src="~/img/Ropa/carro3.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 mt-4">
                <button type="button" class="btn btn-secondary">Ver más productos</button>
            </div>
            <div class="col-md-6 d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-primary">Comprar</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Metodos de entrega</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Precio Unitario</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td><input type="number"></td>
                            <td>@@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td></td>
                            <td>@@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <script src="~/lib/bootstrap/dist/js/fontawesome.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-3.4.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.min.js"></script>
    <style>
        @@font-face{
    font-family: caviar;
    src: url(../fonts/CaviarDreams.ttf);
}
.fondo{
    background-image: url("../img/Ropa/fondo.jpg");
    padding-bottom: 800px;
}
.mover{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.quitar{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

    </style>
</div>

<script type="text/javascript">
    var editor = grapesjs.init({
        height: '100%',
        container: '#gjs',
        fromElement: true,
        showOffsets: 1,
        noticeOnUnload: 0,
        allowScripts: 1,
        plugins: ['gjs-preset-webpage'],
        pluginsOpts: {
            'gjs-preset-webpage': {
                // options
            }
        },
        storageManager: {
            id: 'gjs-',
            type: 'local',
            autosave: false,
            autoload: true,
            stepsBeforeSave: 3,
            urlStore: '',
            urlLoad: '',
            contentTypeJson: true
        },
        canvas: {},
    });
</script>
